broker.id = "{{ broker_id }}"

log.dirs = "/var/lib/kafka/data/kafka-logs"

auto.create.topics.enable = "{{ auto_create_topics_enable }}"

num.partitions = "{{ partitions }}"

default.replication.factor = "{{ default_rf }}"

log.retention.hours = "{{ retention }}"

log.segment.bytes = "{{ log_segment }}"

offsets.topic.replication.factor = "{{ offsets_rf }}"
