[Unit]
Description=Apache Zookeeper server
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=kafka
Group=kafka
Environment=JAVA_HOME=/usr
ExecStart={{ kafka_dir }}/bin/zookeeper-server-start.sh /etc/zookeeper/zoo.cfg
ExecStop={{ kafka_dir }}/bin/zookeeper-server-stop.sh
StandardError=journal

[Install]
WantedBy=multi-user.target
